@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondary text-secondary-foreground font-serif antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-primary;
  }
}